.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bar {
  width: 275px;
  height: 50px;
}

.search-bar input {
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}
